$defaultBackground : #f7f7f7;
$deafultColor : #6c6c6f;
$paragraphColor: #ff7214;
$headingColor: #112E41;
$colorBlack: black;
$navBackground: rgb(226, 226, 226);
$whiteBackground: white;
$statisticBackground: #162b45;
$borderColor: #e0e0e2;
$copyRightBackground: #10233a;