@import 'mixins';
@import 'media';
@import 'variables';
@import 'header';
@import 'colors';
@import 'home';
@import 'about';
@import 'services';
@import 'experience';
@import 'statistic';
@import 'testimonial';
@import 'team';
@import 'news';
@import 'contact';
@import 'footer';
@import 'global';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: $defaultFontFamily;
    background-color: $defaultBackground;
    color: $deafultColor;
    @include navAppear {
        overflow-x: hidden;
    }
}

html {
    scroll-behavior: smooth;
}